table{
    border: 2px solid red;
    background-color: rosybrown;
    position: relative;
    top: 100px;
    left: 500px;
    padding: 10px;
}
input{
    width: 308px;
    height: 50px;
    font-size: xx-large;
}
button{
    padding: 5px;
    width: 60px;
    font-size: xx-large;
    border-radius: 7px 7px 20px 20px;
}
button.optr{
    background-color: black;
    color: yellow;
}
button.nums{
    background-color: violet;
    color: aliceblue;
}
button.output{
    background-color: blue;
    color: white;
    width: 100%;
}
button.clr{
    background-color: green;
    color: honeydew;
    width: 100%;
}